body{
    background-image: url("images/main-sec-one-bg.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    
}
.navbar ul{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.navbar ul li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(222, 253, 255);
    list-style:none;
    font-size: larger;
}